@charset "utf-8";

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-weight: normal;
    vertical-align:baseline;
    background:transparent;
}

:root {
    --color_header: #313539;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*PACE.JS*/
.pace-running .wrapper{
    display: none;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.pace-inactive {
  opacity: 0;
}

.pace .pace-progress {
  background: var(--color_header);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}



/*PACE.JSここまで*/

body {
    color: #333;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*付いてくる背景画像（スマホ対応）*/

/*メディアクエリ backの画像変更*/
@media screen and (max-width: 560px) {
    /*画面サイズ 560px まで適用*/
    #back:before {
      background:url(../images/top/back-s.jpg) no-repeat;
      background-position: top center;
    }
}

@media screen and (min-width: 561px) {
    /*画面サイズ 561px以上から適用*/
    #back:before {
        background:url(../images/top/back.jpg) no-repeat;
        background-position: right 35%;
    }
}

/*画面サイズ 横2:縦1以下から適用*/
/*@media screen and (min-aspect-ratio: 2/1) {    
    #back:before {
        background:url(../images/top/back.jpg) no-repeat;
        background-position: right top;
    }
}*/

#back:before {
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-3;
  width:100%;
  height:100vh;
  background-size:cover;
}

/*背景用ふわっとアニメーション*/
.back-top:before {
    animation-duration: 1.5s;/*アニメーション時間*/
    animation-name: Start/*アニメーション名*/;
}


/*ヘッダー*/
header {
    font-family: "TBシネマ丸ゴシック M", "TBCineRGothic M", sans-serif;
    font-weight: 500;
    position: fixed;
    text-align: left;
    width: 94%;
    top: 0;
    margin-top: 0;
    padding-left: 3%;
    padding-right: 3%;
    color: #fff;
    background: rgba(49,53,57,0.5);
    height: 50px;
    line-height: 50px;
    z-index: 100;
}

/*上から出てくるアニメーション*/
#top-header {
    animation-duration: 2.6s;/*アニメーション時間*/
    animation-name: ToptoBottom/*アニメーション名*/
}


header>a {
    font-size: 21px ;
    color: #fff;
    position: relative;
    top: -1px;
    z-index: 200;
}

.header-no {
    font-size: 15px;
    font-weight: bold;
}

.ls-05 {
    letter-spacing: -0.05em;
}

.ls-15 {
    letter-spacing: -0.15em;
}

.ls-2 {
    letter-spacing: -0.2em;
}

.ls-25 {
    letter-spacing: -0.25em;
}

/*PC用メニュー*/
#menu {
    position: absolute;
    right: 3%;
    top: 0;
}

#menu li {
    display: inline-block;
    position: relative;
    top: -2px;
    font-weight: 500;
    font-size: 14px;
    margin-left: 18px;
}

/*動く下線ここから*/

#menu li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

#menu li a:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

#menu li a:hover:after {
  transform: scale(1, 1);
}

/*動く下線ここまで*/


/*今いるページのメニューへ下線を引く*/
.current {
    position: relative;
}

.current:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}




/*メディアクエリ テキストメニューとハンバーガーの切り替え*/
@media screen and (max-width: 560px) {
    /*画面サイズ 560px まで適用*/
    #menu {
        display: none;
    }
}

/*drawer.cssに移した*/
/*@media screen and (min-width: 561px) {
    画面サイズ 561px以上から適用
    .drawer-hamburger {
        display: none;
    }
}*/

/*キャッチコピー*/

.catch-box {
    position: relative;
}

@media screen and (max-width: 560px) {
    /*画面サイズ 560px まで適用*/
    .catch {
        position: absolute;
        padding: 0 3%;
        width: 94%;
        height: 180px;
        left: 0;
        right: 0;
        bottom: 15%;
        margin: auto;
        /*ふわっと出てくるアニメーション*/
        animation-duration: 1.5s;/*アニメーション時間*/
        animation-name: Start;/*アニメーション名*/
    }

    .catch p {
        position: relative;
        max-width: 96%;
        margin: auto;
        height: 100px;
    }

    .catch-main {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    .catch-hr {
        height: 2px;
        background-color: var(--color_header);
        box-shadow: 0 0 0 1px #fff;
        width: 95%;
        border-radius: 2px;
        margin: 0 auto 10px;
    }

    .catch-sub {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: 90%;
        height: auto;
        margin: auto;
    }
}



@media screen and (min-width: 561px) {
    /*画面サイズ 561px以上から適用*/
    .catch {
        position: absolute;
        padding: 0 3%;
        width: 50%;
        left: 0;
        bottom: 25%;
        margin: auto;
        /*ふわっと出てくるアニメーション*/
        animation-duration: 1.5s;/*アニメーション時間*/
        animation-name: Start;/*アニメーション名*/
    }

    .catch p {
        position: relative;
    }

    .catch-main {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 100%;
        height: auto;
    }

    .catch-hr {
        height: 2px;
        background-color: var(--color_header);
        box-shadow: 0 0 0 1px #fff;
        width: 100%;
        border-radius: 2px;
        margin: 0 0 10px;
    }

    .catch-sub {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 70%;
        height: auto;
    }
}

.scroll-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    height: 60px;
    /*下から出てくるアニメーション*/
    animation-duration: 2.6s;/*アニメーション時間*/
    animation-name: BottomtoTop;/*アニメーション名*/
}

.scroll-btn {
    position: relative;
    top: 5px;
    font-family: 'Kite One', sans-serif;
    color: var(--color_header);
    text-shadow: 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF;
    margin: auto;
    cursor: default;
}

.arrow-sd {
    margin: auto;
    display: block;
    width: 20px;
    height: 20px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    border-radius: 1px;
    transform: rotate(135deg);
    position: relative;
    top: -10px;
    animation: sdb 1.5s infinite;
}

.arrow-sd:before {
    content: "";
    margin: auto;
    display: block;
    width: 20px;
    height: 20px;
    border-top: solid 1px var(--color_header);
    border-right: solid 1px var(--color_header);
    border-radius: 1px;
    position: relative;
    top: -1px;
}

/*ファーストビューアニメーションここから*/

/*背景*/
@keyframes Start {
    0% {
        opacity: 0;/*透明*/
        transform: scale(1.1,1.1);
    }
    100% {
        opacity: 1;/*不透明*/
        transform: scale(1,1);
    }
}

/*ヘッダー*/
@keyframes ToptoBottom {
    0% {
        opacity: 0;/*透明*/
        transform: translateY(-50px);/*Y軸方向-50pxの位置から*/
    }
    50% {
        opacity: 0;/*透明*/
        transform: translateY(-25px);/*Y軸方向-50pxの位置から*/
    }
    100% {
        opacity: 1;/*不透明*/
        transform: translateY(0);
    }
}

/*スクロール用　下から上へ*/
@keyframes BottomtoTop {
    0% {
        opacity: 0;/*透明*/
        transform: translateY(50px);/*Y軸方向-50pxの位置から*/
    }
    50% {
        opacity: 0;/*透明*/
        transform: translateY(25px);/*Y軸方向-50pxの位置から*/
    }
    100% {
        opacity: 1;/*不透明*/
        transform: translateY(0);
    }
}

/*スクロール用　出てくるだけ*/
@keyframes Scale {
    0% {
        opacity: 0;/*透明*/
    }
    55% {
        opacity: 0;/*透明*/
    }
    100% {
        opacity: 1;/*不透明*/
    }
}


/*下へ移動をループ*/
@keyframes sdb {
    0% {
        transform: rotate(135deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(135deg) translate(9px, -9px);
        opacity: 0;
    }
}

/*catch*/
@keyframes scale-opacity {
    0% {
        opacity: 0;/*透明*/
    }
    15% {
        opacity: 0;
    }
    100% {
        opacity: 1;/*不透明*/
    }
}

/*ファーストビューアニメーションここまで*/

/********************ファーストビューここまで**************************/

/*************************コンテンツ*********************************/

h1 {
        font-family: 'Kite One', sans-serif;
        color: #fff;
        background-color: var(--color_header);
        box-shadow: 0 0 0 5px var(--color_header);
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
        height: 96px;
        line-height: 96px;
        margin-top: 55px;
        margin-bottom: 5px;
    }



/*メディアクエリ h1の文字サイズ変更*/
@media screen and (max-width: 344px) {
    /*画面サイズ 344px まで適用*/
    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 345px) {
    /*画面サイズ 345px以上から適用*/
    h1 {
        font-size: 40px;
    }
}

#h1-top {
    margin-top: 5px;
}

.color-change {
    transition: .6s ease-in;
    font-weight: bold;
}


/*注意点*/
#point {
    background-color: #fff;
    padding: 124px 7% 0;
}

#point-box {
    line-height: 1.9;
    padding: 10px;
    border-top: solid 1px var(--color_header);
    border-bottom: solid 1px var(--color_header);
}

.point-p {
    margin-bottom: 12px;
}

.em {
    color: #d82229;
    border: solid 2px #d82229;
    border-radius: 5px;
    padding: 1px 5px;
    margin: 5px;
}

/*セクション 白と灰色の背景用のパディング*/
section:not(.catch-box):not(.profile) {
    padding: 128px 7%;
}

/*背景白*/
.white {
    background: #fff;
}

/*背景灰色*/
.gray {
    background: #F5F5F5;
}

.top-works-box img {
    box-shadow: 0 1px 5px #ccc;
    margin-bottom: 20px;
}

@media screen and (max-width: 830px) {
    /*画面サイズ 830px まで適用*/

    .top-works-h3 {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .top-works-box>div {
        width: 100%;
        height: auto;
    }

    .top-works-box>div>img {
        width: 100%;
        height: auto;
    }

    .top-works-tate {
        max-width: 400px!important;
        max-height: auto!important;
        margin: auto;
    }

    .top-works-tate>img {
        width: 100%!important;
        height: auto!important;
    }
}

@media screen and (min-width: 831px) {
    /*画面サイズ 831px以上から適用*/
    .top-works-box {
        display: flex;
        justify-content: space-between;
    }

    .top-works-box2 {
        flex-flow: row-reverse;
    }

    .top-works-h3 {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .top-works-box>div {
        width: 48%;
        height: auto;
    }

    .top-works-box>div>img {
        width: 100%;
        height: auto;
    }

}


/*セクション プロフィール*/
.pro-top {
    background-color: #fff;
    padding: 124px 7% 20px;
}

.pro-mado {
    display: flex;
}

.pro-bottom {
    background-color: #fff;
    padding: 20px 7% 124px;
}

/*メディアクエリ 窓枠と文章の配置変更*/
@media screen and (max-width: 752px) {
    /*画面サイズ 744px まで適用*/
    .mado-waku {
        width: 86%;
        height: 240px;
    }

    .mado-left, .mado-right {
        width: 7%;
        height: 240px;
        background-color: #fff;
    }

    .mado-left-text {
        display: none;
    }
}

@media screen and (min-width: 753px) {
    /*画面サイズ 745px以上から適用*/
    .mado-waku {
        width: 37%;
        height: 80vh;
    }

    .mado-left {
        width: 42%;
        height: 80vh;
        background-color: #fff;
        padding:0 7% 0;
    }

    .h2-pro-left {
        text-align: center;
    }

    .mado-right {
        width: 7%;
        height: 80vh;
        background-color: #fff;
    }
    
    .h2-pro {
        display: none;
    }

    .pro-text {
        display: none;
    }
}


/*見出し2*/
h2 {
    margin: 0 auto 60px;
}

.h2-pro {
    margin-bottom: 0;
}

.title-main {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: var(--color_header);
}

h2 hr {
    border-color: var(--color_header);
    width: 280px;
    margin: 7px auto 5px;
}

.title-sub {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--color_header);
}

.h2-mvhr {
    opacity: 0;
    transition: .6s ease-out;
}

/*メディアクエリ hrアニメーションの切り替え*/
@media screen and (max-width: 560px) {
    /*画面サイズ 560px まで適用*/
    .h2-mvhr {
        width: 0%;
    }
}

@media screen and (min-width: 561px) {
    /*画面サイズ 561px以上から適用*/
    .h2-mvhr {
        width: 98%;
    }
}

.mvh2 {
    opacity: 1.0;
    width: 280px;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}

/*JSアニメーションここまで*/
/*見出し2ここまで*/



/*普通のテキスト用*/
.text p:not(.fuki-title) {
    line-height: 1.7;
    text-indent: 1em;
    text-align: justify;
    margin: 0 0 12px;
}

p {
    line-height: 1.7;
}

/*スキルページ できるコト&資格*/

/*できるコト*/

/*箱と見出し*/

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-box {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    margin: 20px;
    position: relative;
}

.skill-box-other {
    display: inline-block;
    vertical-align: top;
    max-width: 350px;
    margin: 20px;
    position: relative;
}

/*リストの書式設定ここから*/

/*両方*/
.skills>li,.shikaku>li, .con-mokuji>li {
  list-style: none;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: var(--color_header);
}

.skills>li>ul>li,.shikaku>li>ul>li, .con-mokuji>li>ul>li {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 15px;
}

/*できるコトとコンセプト目次*/
.skills li ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.con-mokuji li ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

.skills>li>ul>li {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 20px;
}

.con-mokuji>li>ul>li {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7;
    text-align: center;
}

.skills>li>ul>li>ul {
    margin-top: 5px;
    margin-bottom: 15px;
}

.skills>li>ul>li>ul>li {
    font-size: 14px;
}

.skill-box>ul, .skill-box-other>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-box>ul>li {
    display: inline-block;
    width: 175px;
    margin-bottom: 10px;
}

.skill-box-other>ul>li {
    display: inline-block;
    width: 175px;
    margin-bottom: 10px;
}

.skill-box-other>ul>li>ul>li {
    color: #999;
}


/*できるコト アイコン設定*/

.skills img, .skills svg {
    width: 48px;
    height: auto;
}


.skills i {
    font-size: 48px;
    margin-bottom: 7px;
}

.fa-sketch {
    color: #fdaa00;
}

.fa-paint-brush {
    color: #34a853;
}

/*.fa-windows {
    color: #0674d0;
}

.ps {
    color: #0bc8ff;
}

.ai {
    color: #fd761f;
}

.fa-file-code {
    color: #ff9800;
}

.fa-html5 {
    color: #f16529;
}

.fa-css3-alt {
    color: #3597d3;
}

.fa-js-square {
    color: #f0db50;
}

.fa-google-drive {
    color: #ea4335;
}

.fa-wordpress {
    color: #07a0d2;
}

.fa-google {
    color: #ea4335;
}*/

.kyodaku {
    font-size: 14px;
}

.kyodaku a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

/*資格*/
.shikaku {
    max-width: 400px;
    margin: auto;
}

.shikaku>li>ul {
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 60px;
    border-left: solid 1px #333;
}

.shikaku>li>ul>li {
    list-style-type: none;
    position: relative;
}

/*リストの書式設定ここまで*/


/*inputのボタンにCSSが効くようにする*/
input[type="submit"]{
    -webkit-appearance: none;
}

/*ボタン*/
.btn {
    display:block;
    background-color: var(--color_header);
    font-family: "TBシネマ丸ゴシック M", "TBCineRGothic M", sans-serif;
    color: #fff;
    font-size: 21px;
    line-height: 1;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border: solid 2px var(--color_header);
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 3px 6px #aaa;
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;
    margin: 40px auto;
    max-width: 150px;
    clear: left;
    outline: none;
}

.btn-pp {
    background-color: #ff9fbe;
    border-color: #ff9fbe
}

.btn-honki {
    background-color: #e14012;
    border-color: #e14012;
}

/*ホバーアニメーション*/
.btn:hover {
    transform: scale(1.05,1.05);
    background-color: #fff;
    color: var(--color_header);
  box-shadow: 0 5px 9px #ccc,0 5px 9px #eee;
}

.btn-pp:hover {
    color: #ff9fbe
}

.btn-honki:hover {
    color: #e14012
}

/*吹き出し*/
.fukidashi {
    position: relative;
    display: block;
    padding: 15px 0;
    margin: 30px auto;
    width: 60vw;
    min-width: 160px;
    max-width: 224px;
    color: #555;
    line-height: 1.7;
    background: #fff;
    border: solid 1px #555;
    box-sizing: border-box;
    border-radius: 10px;
}

.fukidashi:before {
    content:"";
    position: absolute;
    top:-24px;/*←？？？*/
    left: 50%;
    margin-left: -12px;/*←？？？*/
    border: 12px solid transparent;
    border-bottom: 12px solid #fff;
    z-index:2;
}

.fukidashi:after {
    content: "";
    position: absolute;
    top: -28px;
    left 22%;
    margin-left: -14px;
    border: 14px solid transparent;
    border-bottom: 14px solid #555;
    z-index: 1;
}


.fuki-text {
    font-size: 14px;
    color: #888;
}

.fuki-hr {
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media all and (-ms-high-contrast: none){
  .fukidashi {
        display: none;
    }
}

/*ボタンと吹き出しのアニメーション*/
.btn-mvfi {
    opacity: 0;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transition: .8s;
}

.mvfi {
    opacity: 1.0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}



/*カード*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-rows: 1fr;
    justify-items: center;
}

@media all and (-ms-high-contrast: none){
  .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.cards a {
    color: #666;
    cursor: default;
    width: 140px;
    height: 140px;
    margin: 15px;
    outline: none;
}


.card {
    width: 140px;
    height: 140px;
    border-radius: 5px;
    box-shadow: 0 3px 6px #aaa;
    cursor: pointer;
    transition: .3s ease-out;
    position: relative;
    overflow: hidden;
}

/*カードの中身*/
.image {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 5px 5px 0 0;
    font-family: 'object-fit: cover;'
}

.text-hover {
    color: #fff;
    line-height: 1.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    background-color: rgba(17,17,17,.7);
    transform: translateY(100%);
    transition: .3s;
}

.title {
    margin-top: 5px;
    font-size: 18px;
}

.content {
    font-size: 14px;
    margin: 6px;
}

.card:hover {
  transform: scale(1.08,1.08);
  box-shadow: 0 5px 9px #ccc,0 5px 9px #eee;
}

.card:hover .text-hover {
    transform: translateY(60%);
}

/*キラッと光る*/
/*.card:after {
    background: #fff;
    content: "";
    height: 500px;
    left: -200px;
    opacity: .2;
    position: absolute;
    top: -180px;
    -webkit-transform: rotate(41deg);
    transform: rotate(41deg);
    width: 100px;
    z-index: 1;
}
.card:hover:after {
    left: 200%;
    -webkit-transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
}*/

/*キラッと光るここまで*/


/*JSアニメーション 下から上へ*/
.card-mvup {
    opacity: 0;
    transform: translate(0,60px);
    -webkit-transform: translate(0,60px);
    transition: .8s;
}

.mvup {
    opacity: 1.0;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}
/*JSアニメーションここまで*/


/*下から上へ出てくるJSアニメ*/
/*.sa {
  opacity: 0;
  transition: all .5s ease;
}
 
.sa.show {
  opacity: 1;
  transform: none;
}

.sa--up {
    transform: translate(0, 100px);
}*/

/*カード詳細*/

.lightbox-title {
    font-size: 20px;
    margin-bottom: 12px;
}

.card-deco {
    border-style: solid;
    border-width: 5px;
    border-radius: 12px;
    position: relative;
    top: -5px;
    position: relative;
    top: -5px;
    left: -5px;
}

.link-deco {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: -3px;
    margin: auto;
    border-radius: 20px;
    padding: 5px 8px;
    cursor: pointer;
    transition: .3s ease-out;
}

.link-deco:hover {
    transform:scale(1.1,1.1);
}

/*カードそれぞれ*/

#kmpf-card {
    border-color: var(--color_header);
}

#kmpf-link {
    background-color: var(--color_header);
    border: solid 1px #fff;
}

#akejika-card {
     border-color: tomato;
}

#akejika-link {
    background-color: tomato;
}

#kensetsu1-card {
    border-color: #d45537;
}

#kensetsu1-link {
    background-color: #d45537;
}

#ohun-card {
     border-color: #e697b8;
}

#ohun-link {
    background-color: #e697b8;
}

#j1-card {
    border-color: #02686e;
}

#j1-link {
    background-color: #02686e;
}

#tj-card {
     border-color: #ff655f;
}

#tj-link {
    background-color: #ff655f;
}

#gaid-card {
     border-color: #5db700;
}

 #gaid-link {
     background-color: #5db700;
 }

/*コンセプトページ*/

/*#nav-back {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(17,17,17,.5);
    height: 50px;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 50px;
    transition: .3s;
}*/

#nav-back:hover {
    transform: scale(1.1,1.1);
}

#nav-back a {
    color: #fff;
    text-decoration: none;
}


.h1-bgi {
    background-image: url(../images/web/kmpf.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 50%;
    position: relative;

}

.h1-bgi:before {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "Concept"
}

/*メディアクエリ conのhr*/
@media screen and (max-width: 560px) {
    /*画面サイズ 560px まで適用*/
    .con-hr {
        width: 80%;
    }
}

@media screen and (min-width: 561px) {
    /*画面サイズ 561px以上から適用*/
    .con-hr {
        width: 275px;
    }
}

.no-content {
    color: #888;
}

.consept-box {
    display: flex;
    flex-wrap: wrap;
  justify-content: space-around;
}

.consept-lists {
    flex: 1 0 400px;
    background-color: #fff;
    width: 100%;
    margin: 10px;
    box-shadow: 0 1px 5px #ccc;
}

.consept-lists ul {
}

.purpose {
    background-color: #ff8887;
}

.target {
    background-color: #87DB70;
}

.method {
    background-color: #89baff;
}

.consept-lists>ul>li {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    color: #fff;
    padding: 10px 0 0;
}

.consept-lists>ul>li>ul {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    text-align: justify;
    background-color: #fff;
    padding: 10px 10px 10px 30px;
    margin-top: 10px;
}

.consept-lists>ul>li>ul li {
    list-style-type: none;
    color: #333;
    margin: 15px 10px;
    position: relative;
}

.consept-lists>ul>li>ul>li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  content: "\f00c";
  position: absolute;
  left: -1.5em;
  top: 5px;
}

.consept-lists>ul>li>ul>li>ul {
    padding-left: 20px;
}

.consept-lists>ul>li>ul>li>ul>li {
    list-style-type: circle;
}

.kite {
    font-family: 'Kite One', sans-serif;
}

.yugo {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
}

/*見出し3*/
h3 {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    margin: 40px auto 10px;
    color: var(--color_header);
}

/*制作目標とメディアクエリ*/
.goal {
    text-align: center;
}

.icon    {
    margin: 0 0 10px;
    width: 96px;
    height: auto;
}

/*@media screen and (max-width: 830px) {
    画面サイズ 830px まで適用

}*/

@media screen and (min-width: 831px) {
    /*画面サイズ 831px以上から適用*/
    .goals {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .goal{
        width: 30%;
        vertical-align: top;
        box-sizing: border-box;
    }
}

/*JSアニメーション*/
.goal-mvfi {
    opacity: 0;
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transition: .8s;
}

.mvfi {
    opacity: 1.0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

/*.delay {
    transition-delay: 0.5s;
}*/

/*フォーム*/
form {
    margin: auto;
    max-width: 480px;
}

form div+div {
    margin-top: 1em;
}

form label {
    /*全てのラベルを同じサイズにしてきちんと揃える*/
    display: block;
    text-align: left;
    line-height: 1.7;
}

input, textarea {
    /*全てのテキストフィールドのフォント設定を一致させる
    デフォルトでtextareaは等幅フォントが設定されている*/
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;

    /*全てのテキストフィールドを同じサイズにする*/
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    /*テキストフィールドのボーダーの外見を同一にする*/
    border: solid 1px #999;
    border-radius: 10px;
}


textarea {
    /*複数行のテキストフィールドをラベルに揃える*/
    vertical-align: top;

    /*テキスト入力に十分な領域を与える*/
    height: 152px;
}

input::placeholder, textarea::placeholder {
  color: #ccc;
  font-weight: normal;
}

/*フッター*/
footer {
    background-color: var(--color_header);
    color: #fff;
    height: 60px;
    line-height: 30px;
    padding:20px 0;
}

.arrow {
    margin: auto;
    display: block;
    width: 20px;
    height: 20px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    border-radius: 1px;
    transform: rotate(-45deg);
    position: relative;
    top: 10px;
}

footer p {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
    font-size: 11px;
}

footer a {
    font-family: 'Kite One', sans-serif;
}

footer a {
    color: #fff
}

#gotop {
    position: relative;
    bottom: 8px;
    transition: .3s ease-out;
    width: 50px;
    margin: auto;
    cursor: pointer;
}

#gotop:hover {
  transform:scale(1.1,1.1);
}